* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.item {
    margin-top: 16px;
    font-size: 40px;
    color: #fff;
    text-align: center;
    height: 200px;
    background: orange;
}

.main {
    display: flex;
    padding: 0 32px;
}
.sidebar {
    min-width: 300px;
    background: #999;
}
.content {
    flex-grow: 1;
    /* width: calc(100% - 300px); */
    background: #ccc;
}

@media (max-width: 1023px) {
    .sidebar {
        display: none;
    }
}