.overload {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.3s ease;
  z-index: 15;
}

.header__menu {
  width: 320px;
  height: 100%;
  background: var(--white-color);
  border-right: 1px solid #e5e5e5;
}
.header__menu-img {
  height: 58px;
}
.header__menu-title {
  display: flex;
  justify-content: space-between;
}
.header__menu-icon {
  font-size: 2.6rem;
  color: var(--black-color);
  padding: 16px;
}
.header__menu-list {
  list-style: none;
  padding: 0;
}
.header__menu-item {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 16px;
  cursor: pointer;
  margin-bottom: 16px;
}
.header__menu-item i {
  margin-right: 16px;
}

.header__menu-item:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

.mobile-menu-checkbox:checked ~ .overload {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}
