.service__item {
  margin-right: 5px;
}
.service__card {
  cursor: pointer;
  border-radius: var(--border-radius-8);
  background-color: var(--white-color);
  box-shadow: 0 4px 8px var(--primary-box-shadow);
}
.service__card:hover .service__card-title {
  color: var(--primary-color);
}
.service__card-header {
  overflow: hidden;
  border-radius: var(--border-radius-8);
}
.service__card-img {
  width: 100%;
}
.service__card-body {
  padding: 12px 16px;
}
.service__card-title {
  font-size: 16px;
  color: var(--header-color);
  margin-bottom: 4px;
  transition: color var(--primary-transition-time) ease;
}
.service__card-sub-title {
  font-size: 14px;
  color: var(--subtitle-color);
}
