* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.item {
    margin-top: 16px;
    font-size: 40px;
    color: #fff;
    text-align: center;
    height: 250px;
    background: orange;
}

.item-info {
    background: #000;
    color: #fff;
}

.break {
    margin-bottom: 16px;
}

.main {
    display: flex;
}
.sidebar {
    width: 300px;
}
.content {
    width: calc(100% - 300px);
    background: #ccc;
}