.slider {
  margin-top: 46px;
  /* 
          khi giá trị padding-top có đơn vị là % 
          -> thì nó là 50% chiều ngang của chính nó 
          600px:300px hoặc 550px:275px
      */
  padding-top: 50%;
  background-image: url(https://www.w3schools.com/w3css/img_la.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.slider .text-content {
  position: absolute;
  bottom: 48px;
  color: #fff;
  width: 100%;
  text-align: center;
}

.slider .text-header {
  font-weight: 500;
  font-size: 24px;
}

.slider .text-description {
  margin: 25px 0;
  font-size: 15px;
}
