.footer {
  border-top: 16px;
  border-top: 4px solid var(--primary-color);
}

.footer__heading {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--text-color);
}

.footer-list {
  padding-left: 0;
  list-style: none;
}

.footer-item__link {
  display: block;
  text-decoration: none;
  font-size: 1.2rem;
  color: #666;
  padding: 4px 0;

  display: flex;
  align-items: center;
}

.footer-item__link:hover {
  color: var(--primary-color);
}

.footer-item__icon {
    font-size: 1.6rem;
    margin-top: -1px;
    margin-right: 4px;
}

.footer__download{
    display: flex;
}

.footer__download-qr {
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
}

.footer__download-apps {
    flex: 1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer__download-chplay, .footer__download-appstore {
    height: 18px;
}

.footer__bottom {
    padding: 8px 0;
    background: #f5f5f5;
    margin-top: 36px;
}

.footer__text {
    margin: 0;
    font-size: 1.4rem;
    color: #737373;
    justify-content: center;
}