.home-product__pagination{
    margin: 48px 0 32px 0;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.pagination-item {
   margin: 0 8px;
}
.pagination-item__link {
  --height: 30px;
  display: block;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 300;
  color: #939393;
  min-width: 40px;
  height: var(--height);
  line-height: var(--height);
  text-align: center;
}
.pagination-item--active .pagination-item__link {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 2px;
}
.pagination-item--active .pagination-item__link:hover {
    background: #ed5c3f;
}
.pagination-item__icon {

}
