.wrap-layout {
  margin: 36px 0;
  padding: 16px;
  background: #fff;

  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* flex-wrap: wrap-reverse; */
}
.wrap-layout-item {
  width: 148px;
  height: 90px;
  color: #fff;
  text-align: center;
  line-height: 90px;
  font-size: 48px;
  font-weight: 700;
  background: #f00;
}