$gray-color: gray;
$green-color: green;
$width_1: 250px;
$width_2: 2rem;

.container { width: 100%; }  

article[role="main"] {  
  float: left;  
  width: 600px / 960px * 100%;  
  height: calc(100px + 100px);
  background-color: $gray-color;
}  

article[role="alert"] {  
  float: left;  
  width: 600px / 960px * 100%;  
  height: calc($width_1 + $width_2);
  background-color: $green-color;
}  
